# dependencies
/node_modules

# build output
/.next/
/out/
/build
/coverage

# misc
.DS_Store
*.pem

# local env files
.env*.local

# local data cache
/.cache/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
